import(BSgenome)

### Don't export BSgenome.Anidulans.AspGD.FGSCA4 or Anidulans (the new and old names of the
### BSgenome object defined in this package): the object is created and its 2
### names are dynamically exported at load time (refer to R/zzz.R for the
### details).
#export(BSgenome.Anidulans.AspGD.FGSCA4)
#export(Anidulans)

